<a href="./records/new">Create</a>

<ul>
  {{#each records}}
    <li>
      {{this.name}}, {{this.data}}, {{this.amount}}, {{this.userId}}, {{this.categoryId}}, {{this.createAt}}
    </li>
  {{/each}}
</ul>